@model rjp_test.ViewModels.AccountViewModel
@{
    ViewData["Title"] = "Open Account";
}

<!DOCTYPE html>
<html>
<head>
    <title>Open Account</title>
</head>
<body>
    <h1>Open Account</h1>
    <form method="post" asp-action="OpenAccount" asp-controller="Account">
      
        <div>
            <label for="CustomerId">Customer:</label>
            <select id="CustomerId" name="CustomerId" asp-for="CustomerId">
                @foreach (var customer in Model.Customers)
                {
                    <option value="@customer.Id">@customer.Name @customer.Surname</option>
                }
            </select>
        </div>
        <div>
           
            <label for="InitialCredit">Initial Credit:</label>
            <input type="number" id="InitialCredit" name="InitialCredit" asp-for="InitialCredit" step="1">
        </div>
        <button type="submit">Open Account</button>
    </form>
</body>
</html>
